body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #120a8f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 5px 0;
}

main {
    padding: 20px;
}

h3 {
    color: #333;
    text-align: center;
}

h4 {
    margin-top: 20px;
    color: #444;
}

h3, h4, h5 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

p {
    text-align: justify;
    line-height: 1.6;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #120a8f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #120a8f;
}

footer {
    background-color: #120a8f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
